#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.dataContainer{
  display: flex;
  border-radius: 10px;
  border: 2px solid #868282;
  width: 350px;
  padding-bottom: 1.17rem;
}

.settingsContainer{
  width: 50%;
}